:root {
    --mainColor: #523B35;
}

body {
    background-color: #fff;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: var(--mainColor);
    font-size: 56px;
    letter-spacing: 1px;
    text-align: center;
    margin: 40px;
}

/* Navigation bar */
header {
    font-family: 'Lato', sans-serif;
    align-items: center;
    color: var(--mainColor);
}

.myName {
    font-size: 30px;
    font-weight: 900;
}

header a:link {
    color: var(--mainColor);
    text-decoration: none;
}

header a:visited {
    color: var(--mainColor);
    text-decoration: none;
}

header a:hover {
    color: rgb(164, 127, 76);
    text-decoration: none;
}

header a:active {
    color: rgb(164, 127, 76);
    text-decoration: none;
}

/* Hero section */
.customJumbotron {
    color: var(--mainColor);
    background-color: transparent;
    background-image: url("../images/background-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    height: 600px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.jumboText {
    margin-left: initial;
    margin-right: initial;
    font-family: 'Lato', sans-serif;
}

.jumboText h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
}

.jumboPhoto {
    height: 500px;
    margin: initial;
}

.jumboPhoto img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

/* My Work section */
.workContentGrid {
    margin: auto;
    justify-content: space-evenly;

}

.customCard {
    border: transparent;
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
    color: var(--mainColor);
}

.customCard img {
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.customCardBody {
    padding-left: 0;
}

.customCard h5 {
    cursor: pointer;
    font-weight: 700;
}

/* Skills section */
.mySkills {
    background-image: url("../images/background-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.myList h5 {
    font-family: 'Lato', sans-serif;
    color: var(--mainColor);
    font-weight: 700;
}

.customList li {
    border: transparent;
    font-family: 'Lato', sans-serif;
    color: var(--mainColor);
    background-color: transparent;
}

.customList li::before {
    content: "🔸";
    margin-right: 5px;
}


/* About/Contact me section */
.customAbout {
    border: transparent;
}

form {
    font-family: 'Lato', sans-serif;
    color: var(--mainColor);
}

form h5 {
    font-weight: 700;
}

.customValidated {
    border: 1px solid #ced4da;
}

/* Footer section */
footer {
    font-family: 'Lato', sans-serif;
    color: var(--mainColor);
    background-color: rgb(244, 232, 218);
}

footer h5 {
    font-weight: 700;
}

footer p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

footer a:link {
    color: var(--mainColor);
    text-decoration: none;

}

footer a:visited {
    color: var(--mainColor);
    text-decoration: none;
}

footer a:hover {
    color: rgb(164, 127, 76);
    text-decoration: none;
}

footer a:active {
    color: rgb(164, 127, 76);
    text-decoration: none;
}