body {
    background-color: #fff;
}

header {
    font-family: 'Lato', sans-serif;
    align-items: center;
    color: #523B35;
}

.myName {
    font-size: 30px;
    font-weight: 900;
}

header a:link {
    color: var(--mainColor);
    text-decoration: none;
}

header a:visited {
    color: var(--mainColor);
    text-decoration: none;
}

header a:hover {
    color: rgb(164, 127, 76);
    text-decoration: none;
}

header a:active {
    color: rgb(164, 127, 76);
    text-decoration: none;
}






.customJumbotron {
    color: #523B35;
    background-color: transparent;
    background-image: url("/images/background-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    height: 600px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.jumboText {
    margin-left: initial;
    margin-right: initial;
    font-family: 'Lato', sans-serif;
}

.jumboText h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
}

.jumboPhoto {
    height: 500px;
    margin: initial;
}


.jumboPhoto img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}